{% extends "base.html" %}

{% block title %}<title>Suppression ticket</title>{% endblock %}

{% block content %}
<form method="post">{% csrf_token %}
    <p>Confirmez-vous la suppresion du ticket ci-dessous ?</p>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Confirmer">
</form>
<div class="ticket-object">
    <h1>{{ ticket.user }} a demandé une critique.</h1>
    <p>{{ ticket.time_created }}</p>
    <h2>{{ ticket.title }}</h2>
    <p>{{ ticket.description }}</p>
    {% if ticket.image %}
    <img src="{{ ticket.image.url }}">
    {% endif %}
</div>
{% endblock %}