{% extends "base.html" %}

{% block title %}
<title>Mes publications</title>
{% endblock %}

{% block content %}
{% if posts_list %}
<ul id="feed">
    {% for post in posts_list %}
    {% if post.title %}
    <li class="ticket-object">
        {% include "ticket.html"%}
        <a href="{% url 'catalog:update-ticket' post.id %}"><button type="button">Modifier</button></a>
        <a href="{% url 'catalog:delete-ticket' post.id %}"><button type="button">Supprimer</button></a>
    </li>
    {% endif %}
    {% if post.headline %}
    <li class="review-object">
        {% include "review.html" %}
        <a href="{% url 'catalog:update-review' post.id %}"><button type="button">Modifier</button></a>
        <a href="{% url 'catalog:delete-review' post.id %}"><button type="button">Supprimer</button></a>
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% else %}
<p>Vous n'avez pas écrit de ticket ni de critique.</p>
{% endif %}
{% endblock %}