{% extends "base.html" %}

{% block title %}<title>{{ review.headline }}</title>{% endblock %}

{% block content %}
<h1>{{ review.user }} a publié une critique.</h1>
<p>{{ review.time_created }}</p>
<h2>{{ review.headline }} - {{review.rating}}/5</h2>
<p>{{ review.body }}</p>
<div>
    <h1>Ticket - {{ review.ticket.user }}</h1>
    <p>{{ review.ticket.time_created }}</p>
    <h2>{{ review.ticket.title }}</h2>
    {% if review.ticket.image %}
    <img src="{{ review.ticket.image.url }}">
    {% endif %}
</div>
{% endblock %}