{% if post %}
<div class="post-header">
    {% if post.user == user %}
    <h3>Vous avez publié une critique.</h3>
    {% else %}
    <h3>{{ post.user }} a publié une critique.</h3>
    {% endif %}
    <p>{{ post.time_created }}</p>
</div>
<h2>{{ post.headline }} - {{post.return_star_rating}}</h2>
<p>{{ post.body }}</p>
<div class="ticket-object-in-review">
    {% if post.ticket.user == user %}
    <h3>Ticket - Vous</h3>
    {% else %}
    <h3>Ticket - {{ post.ticket.user }}</h3>
    {% endif %}
    <h3>{{ post.ticket.title }}</h3>
    {% if post.ticket.image %}
    <img src="{{ post.ticket.image.url }}">
    {% endif %}
</div>
{% endif %}

{% if review %}
<div class="review-object">
    <div class="post-header">
        {% if review.user == user %}
        <h3>Vous avez publié une critique.</h3>
        {% else %}
        <h3>{{ review.user }} a publié une critique.</h3>
        {% endif %}
        <p>{{ review.time_created }}</p>
    </div>
    <h2>{{ review.headline }} - {{review.return_star_rating}}</h2>
    <p>{{ review.body }}</p>
    <div class="ticket-object-in-review">
        {% if review.ticket.user == user %}
        <h3>Ticket - Vous</h3>
        {% else %}
        <h3>Ticket - {{ review.ticket.user }}</h3>
        {% endif %}
        <h3>{{ review.ticket.title }}</h3>
        {% if review.ticket.image %}
        <img src="{{ review.ticket.image.url }}">
        {% endif %}
    </div>
</div>
{% endif %}