{% if post %}
<div class="post-header">
    {% if post.user == user %}
    <h3>Vous avez demandé une critique</h3>
    {% else %}
    <h3>{{ post.user }} a demandé une critique</h3>
    {% endif %}
    <p>{{ post.time_created }}</p>
</div>
<h3>{{ post.title }}</h3>
<p>{{ post.description }}</p>
{% if post.image %}
<img src="{{ post.image.url }}">
{% endif %}
{% endif %}


{% if ticket %}
<div class="ticket-object">
    <div class="post-header">
        {% if ticket.user == user %}
        <h3>Vous avez demandé une critique</h3>
        {% else %}
        <h3>{{ ticket.user }} a demandé une critique</h3>
        {% endif %}
    </div>
    <p>{{ ticket.time_created }}</p>
    <h3>{{ ticket.title }}</h3>
    <p>{{ ticket.description }}</p>
    {% if ticket.image %}
    <img src="{{ ticket.image.url }}">
    {% endif %}
</div>
{% endif %}