{% extends "base.html" %}

{% block title %}
<title>Flux</title>
{% endblock %}

{% block content %}
<div id="buttons">
    <a href="{% url 'catalog:create-ticket' %}"><button type="button">Demander une critique</button></a>
    <a href="{% url 'catalog:create-review' %}"><button type="button">Créer une critique</button></a>
</div>
{% if posts_list %}
<ul id="feed">
    {% for post in posts_list %}
    {% if post.title %}
    <li class="ticket-object">
        {% include "ticket.html"%}
        {% if post.id not in ticket_id_list_with_review %}
        <a href="{% url 'catalog:create-review-from-ticket' post.id %}"><button type="button">Créer une
                critique</button></a>
        {% endif %}
    </li>
    {% endif %}
    {% if post.headline %}
    <li class="review-object">
        {% include "review.html" %}
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% else %}
<p>Il n'y a pas de ticket ni de critique.</p>
{% endif %}
{% endblock %}