{% extends "base.html" %}

{% block title %}
<title>Flux</title>
{% endblock %}

{% block content %}
<div id="top-feed-buttons">
    <a href="{% url 'catalog:create-ticket' %}"><button class="buttons" type="button">Demander une critique</button></a>
    <a href="{% url 'catalog:create-review' %}"><button class="buttons" type="button">Créer une critique</button></a>
</div>
{% if posts_list %}
<ul id="feed">
    {% for post in posts_list %}
    {% if post.title %}
    <li class="ticket-object">
        {% include "ticket.html"%}
        {% if post.id not in ticket_id_list_with_review %}
        <div class="post-bottom">
            <a href="{% url 'catalog:create-review-from-ticket' post.id %}"><button class="buttons" type="button">Créer
                    une
                    critique</button></a>
        </div>
        {% endif %}
    </li>
    {% endif %}
    {% if post.headline %}
    <li class="review-object">
        {% include "review.html" %}
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% else %}
<p>Vous n'avez pas écrit de ticket ou de critique et vos abonnements non plus.</p>
{% endif %}
{% endblock %}