{% extends 'base.html' %}

{% block title %}<title>Page d'accueil</title>{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
{% else %}
  <section id="signup">
    <h2>Inscrivez-vous maintenant</h2>
    <a href="{% url 'signup' %}"><button type="button">S'inscrire</button></a>
  </section>
  
  <section id="login">
    <h2>Connectez-vous</h2>
    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
    <form method="post" action="">
    {% csrf_token %}
    <table>
    <tr>
        <td><label for="username">Nom d'utilisateur: </label></td>
        <td>{{ form.username }}</td>
    </tr>
    <tr>
        <td><label for="password">Mot de passe: </label></td>
        <td>{{ form.password }}</td>
    </tr>
    </table>
    
    <input type="submit" value="Se connecter">
    <input type="hidden" name="next" value="{{ next }}">
    </form>
  </section>
{% endif %}
{% endblock %}