{% extends "base.html" %}

{% block title %}<title>Mes abonnements</title>{% endblock %}

{% block content %}
<h2>Suivre d'autres utilisateurs</h2>
<form method="post">
    {% csrf_token %}
    <select id="id-followable-users-list" name="followable-users">
        {% for user in followable_users %}
        <option value={{user.id}}>{{user}}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Envoyer">
</form>
<h2>Abonnements</h2>
{% if followed_users_list %}
<ul id="subscriptions-list">
    {% for user in followed_users_list %}
    <li>
        {{ user }}
        <form method="POST" action="{% url 'accounts:delete-user-follow' user.id %}">
            {% csrf_token %}
            <input type="submit" value="Désabonner">
        </form>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>Vous ne suivez aucun utilisateur.</p>
{% endif %}
<h2>Abonnés</h2>
{% if subscriber_list %}
<ul id="subscribers-list">
    {% for user in subscriber_list %}
    <li>{{ user }}</li>
    {% endfor %}
</ul>
{% else %}
<p>Vous n'avez pas encore d'abonnés.</p>
{% endif %}
{% endblock %}