* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

html {
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.75;
}

h1 {
    text-align: center;
}

img {
    width: 100%;
    max-width: 150px;
}

a {
    text-decoration: none;
    color: inherit;
}

.helptext {
    font-size: 0.8rem;
    font-weight: normal;
}

.buttons {
    cursor: pointer;
    font-size: 100%;
    background-color: #ddd;
    border-radius: 8px;
    padding: 0.5rem;
    border: none;
    transition: 0.3s;

}

.buttons:hover {
    background-color: #6d6d6d;
    color: white;
}


/* NAVBAR STYLE */
#navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.nav-links a {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

#logo {
    margin-left: 50%;
}

/* HOME PAGE STYLE */
#home-page {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

#signup {
    text-align: center;
}

#signup p {
    font-weight: bold;
    white-space: pre-line;
}

#signup li {
    font-size: 0.8rem;
}

#signup button {
    margin: 1rem;
}


/* FEED PAGE STYLE */
#top-feed-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 1rem;
}


/* POST, REVIEW, TICKET STYLE */
.post-header {
    display: flex;
    justify-content: space-between;
}

.post-bottom {
    text-align: right;
}

[class*="ticket-object"] {
    border: 1px;
    border-style: solid;
    margin: 2% 10% 2% 10%;
    padding: 2%;
}

.ticket-object-in-review {
    margin: 2% 0% 2% 0%;
}

.review-object {
    border: 1px;
    border-style: solid;
    margin: 2% 10% 2% 10%;
    padding: 2%;
}

.post-header {
    display: flex;
    justify-content: space-between;
}

#top-feed-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.buttons {
    cursor: pointer;
    font-size: 100%;
    margin: 1rem 1rem 0rem 1rem;
    background-color: #ddd;
    border-radius: 8px;
    padding: 0.5rem;
    border: none;
    transition: 0.3s;

}

.buttons:hover {
    background-color: #6d6d6d;
    color: white;
}