* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.75;
}

img {
    width: 100%;
    max-width: 200px;
}

a {
    text-decoration: none;
    color: inherit;
}

#navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.nav-links a {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

#logo {
    margin-left: 50%;
}

#feed {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.ticket-object {
    border: 1px;
    border-style: solid;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    list-style-type: none;
}

.review-object {
    border: 1px;
    border-style: solid;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
}