* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

html {
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.75;
}

h1 {
    text-align: center;
}

img {
    width: 100%;
    max-width: 150px;
}

a {
    text-decoration: none;
    color: inherit;
}

hr {
    width: 90%;
    margin: 1rem 0 1rem;
}

label {
    display: block;
}

.helptext {
    display: block;
    font-size: 0.8rem;
    font-weight: normal;
}

.buttons {
    cursor: pointer;
    font-size: 100%;
    background-color: #ddd;
    border-radius: 8px;
    padding: 0.5rem;
    border: none;
    transition: 0.3s;

}

.buttons:hover {
    background-color: #6d6d6d;
    color: white;
}


/* NAVBAR STYLE */
#navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.nav-links a {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

#logo {
    margin-left: 50%;
}

/* HOME PAGE STYLE */
#home-page {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

#signup {
    text-align: center;
}

#signup p {
    font-weight: bold;
}

#signup li {
    font-size: 0.8rem;
}

#signup button {
    margin: 1rem;
}


/* OBJECT FORM STYLE */
.create-object-form {
    margin-left: 10%;
}

.create-object-form input.buttons {
    float: right;
    margin-right: 10%;
}

.delete-object-form input.buttons {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#id_title,
#id_headline,
#id_description,
#id_body {
    width: 90%;
}

#id_rating {
    display: flex;
    justify-content: space-evenly;
}


/* FEED PAGE STYLE */
#top-feed-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 1rem;
}


/* POST, REVIEW, TICKET STYLE */
.post-header {
    display: flex;
    justify-content: space-between;
}

.post-bottom {
    text-align: right;
}

[class*="ticket-object"] {
    border: 1px;
    border-style: solid;
    margin: 2% 10% 2% 10%;
    padding: 2%;
    overflow-wrap: break-word;
}

.ticket-object-in-review {
    margin: 2% 0% 2% 0%;
}

.review-object {
    border: 1px;
    border-style: solid;
    margin: 2% 10% 2% 10%;
    padding: 2%;
    overflow-wrap: break-word;
}


/* SUBSCRIPTION PAGE STYLE */
#subscription-page {
    text-align: center;
}

#subscription-page li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #ddd;
    border: 1px;
    border-style: solid;
    margin: 2% 20% 2% 20%;
    line-break: anywhere;
}

#id-followable-users-list {
    padding: 0.5rem 2rem 0.5rem 2rem;
    margin-right: 1rem;
}

.user-name {
    line-height: normal;
    font-weight: bold;
    padding: 0.5rem;
    margin-left: 2%;
}